:root {
    --margin-section: 20px;
    --sm: 16px;
    --md: 18px;
    --lg: 26px;
    --color-title: #120907;
    --color-subtitle: #1e1e36;
    --color-text: #545b88;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: normal;
}

.container {
    margin: 10px;
    padding: 20px;
    background-color: #d0e0ed;
    border-radius: 20px;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    backdrop-filter: saturate(180%) blur(20px);
}

.perfil {
    margin: 0%;
    padding: 0;
    display: grid;
    justify-content: center;
}

.photo-perfil {
    border-radius: 60%;
    width: 260px;
    height: 260px;
    border: 4px solid  #d0e0ed;
}

.correo {
    width: var(--md);
    height: var(--md);
}

.telefono {
    width: var(--md);
    height: var(--md);
}

.ubicacion {
    width: var(--md);
    height: var(--md);
}

.contact_info {}

a {
    color: black;
    text-decoration: none;
    font-size: var(--md);
}

h1 {
    font-size: var(--lg);
    margin: 0;
    padding: 0%;
    display: block;
    color: var(--color-title);
    line-height: 1.7;
}


h3 {
    font-size: var(--md);
    color: var(--color-subtitle);
    text-align: justify;
    margin: 0;
    line-height: 1.7;
}

h4 {
    font-size: var(--md);
    color: var(--color-text);
    text-align: justify;
    margin: 0;
    line-height: 1.7;
}

.lista-cursos {
    margin: 8px 0 0 8px;
}

li {
    font-size: var(--sm);
    margin: 0 0 0 8px;
    display: flexbox;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: var(--sm);
    text-align: justify;
    margin: 0 18px 0 0;
}

.main-center {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all .4s;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #05326d;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: black;
    text-decoration: none;
}

.my-networks {
    display: flex;
}

.img-github {
    margin: 0px;
    padding: 6px;
    width: 40px;
    height: 40px;
}

.img-whasapp {
    margin: 0px;
    padding: 6px;
    width: 40px;
    height: 40px;
}

.img-linkedin {
    margin: 0px;
    padding: 6px;
    width: 40px;
    height: 40px;
}

@media (max-width: 850px) {
    .container {
        width: auto;
    }
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: #d0e0ed;
    }
}

@media (max-width: 850px) {
    body {
        margin: 0px;
        padding: 0px;
        width: auto;
        height: 100%;
        display: flex;
        align-content: center;
    }
}

@media (max-width: 450px) {
    body {
        margin: 0px;
        padding: 0px;
        width: auto;
        height: 100%;
        display: flex;
        align-content: center;

    }
    .container {
        background-color: #d0e0ed;
        backdrop-filter: saturate(180%) blur(20px);
    }
}